//SCSS responsábel por ajustes no responsivo

@media (max-width: 1023px) {
  .container {
    padding: 0 15px;
  }
  .columns {
    display: flex;
    .column {
      width: 40%;
      flex: 1 0 auto;
    }
  }
}

@media (max-width: 767px) {
  .columns .column {
    width: 100%;
  }
}